<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/mobileScript.js"></script>
    <title>KK</title>
</head>
<body>
    <div class="mainHeader">
        <div class="userContainer">
        </div>
        <div class="pageInfoContainer">
            <div class="caption">
                TO-DOs
            </div>
        </div>
        <div class="functionContainer">

        </div>
    </div>
    <div class="mainContainer">
        <div class="reminderListContainer">
            <div class="reminderList" id="reminderList">

            </div>
        </div>
    </div>
    <div class="mainFunctionBar">
        <div class="mainFunctionBarButton">
            <div class="caption">New</div>
        </div>
    </div>
    <div class="mainReminderWholeContainer">
        <div class="mainReminderMask">

        </div>
        <div class="mainReminderDetailContainer">

        </div>
    </div>
    <div class="addReminderWholeContainer">
        <div class="addReminderHeader">
            <div class="addReminderHeaderClose">

            </div>
        </div>
        <div class="addReminderDetailContainer">
            <div class="detailCaptionContainer">
                <div class="titleInputContainer">
                    <div class="titleContainer">
                        <div class="title">
                            Caption
                        </div>
                    </div>
                    <input type="text" placeholder="New To-GO">
                </div>
            </div>
            <div class="detailFolderContainer">
                <div class="toggleTitleInputContainer">
                    <div class="titleContainer">
                        <div class="title">
                            Detail
                        </div>
                    </div>
                    <div class="toggleButton">
                    </div>
                </div>
            </div>
            <div class="detailToggleContainer">
                <div class="detailTextContainer">
                    <div class="titleInputContainer">
                        <div class="titleContainer">
                            <div class="title">
                                Note
                            </div>
                        </div>
                        <input type="text" placeholder="Enter additional information">
                    </div>
                </div>
                <div class="detailURLContainer">
                    <div class="titleInputContainer">
                        <div class="titleContainer">
                            <div class="title">
                                URL
                            </div>
                        </div>
                        <input type="text" placeholder="Enter resource URL">
                    </div>
                </div>
            </div>
            <div class="detailTimeContainer">
                <div class="dateTitleInputContainer">
                    <div class="titleContainer">
                        <div class="title">
                            Date
                        </div>
                    </div>
                    <input type="datetime-local" class="dateInput">
                </div>
            </div>
            <div class="detailTargetContainer">
                <div class="titleInputContainer">
                    <div class="titleContainer">
                        <div class="title">
                            Target
                        </div>
                    </div>
                    <input type="text" placeholder="Target">
                </div>
            </div>
            <div class="detailFlagContainer">
                <div class="titleInputContainer">
                    <div class="titleContainer">
                        <div class="title">
                            Flag
                        </div>
                    </div>
                    <input type="text" placeholder="Flag">
                </div>
            </div>
        </div>
        <div class="addReminderDetailFooterContainer">
            <div class="buttonContainer">
                <div class="addButton">
                    <div>
                        GO!
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>